.required-field::after {
  content: " * ";
  color: red;
}


.error-message {
  font-size: 0.8rem;
  color: red;
}

a {
  text-decoration: none;
  color: inherit;
}

/* product-image */
.product .card-img-top {
  height: 200px;
  object-fit: cover;
}

.carousel-item img{
  height: 550px;
  object-fit: cover;
}
/* 
.home-spinner{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */